/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:5%;
    max-width:100%;
    border:1px solid darkgrey; 
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    color:green;
    background-color: rgba(5, 224, 202, 0.678);
}
header {
   margin: 5%;
}
h1 {
    padding: 3%;
    position: relative;
    font-size: 3.6rem;
}
nav {
    display: flex;
    align-content: flex-end;
    margin-left: 10%;
}
nav a {
    display: flex;
    width: 15%;
    margin: 2%;
    justify-content: space-around;
    border-radius: 30%;
    color:green;
}
nav a:hover {
    background-color: forestgreen;
    color: white;
    border: 3px dotted white;
}
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

button {
    padding: 2%;
    margin: 2% 0;
}
.profile {
    width: 60%;
    border-radius: 30%;
    border: 2.5px inset forestgreen;
    margin-left: 15%;
}
.profile:hover {
    border: 3px dotted white;
}
.main {
    display: flex;
    width: 40%;
}
.info {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 2%;
    line-height: 2;
}
.info h2, p {
    padding: 2%;
    margin: 2% 0;
}

.info:hover {
    background-color: forestgreen;
    color: white;
    transition: 2s;
}
button:hover {
    background-color:rgba(5, 224, 202, 0.678);
    color: white;
    transition: 1s;
}
.gallery {
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    
}
.gallery img {
    z-index: 2;
    width: 23%;
    margin-top: 4%;
    border: 3px double forestgreen;
}
.gallery img:hover {
    border: 3px dotted white;
}

.links {
    width: 50%;
    padding: 2%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
}

.links a {
    padding: 0 2%;
    color:green;
}

@media(max-width: 800px){
    h1 {
        display: flex;
        justify-content: center;
    }
    nav {
        justify-content: center;
    }
    .profile {
        width: 75%;
    }
    .main {
        width: 50%;
    }
    .info {
        width: 50%;
    }
}

@media(max-width: 500px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    section {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .main {
        width: 100%;
    }
    .profile {
        width: 55;%
    }
    .info {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .info h2 {
        font-size: 3rem;
    }
    .info button {
        padding: 3% 6%; 
    }
    .info p {
        text-align: center;
        margin: 0 5%;
    }
    .gallery {
        flex-flow: row;
        flex-wrap: wrap;
    }
    .gallery img {
        width: 40%;

    }